<!DOCTYPE html>
<html>
<head>
    <div style="text-align:center">
        <img src="static/images/background.jpg" alt="Iron Man" width="800" height="400">
    </div>
    <title>Iron Man Armors</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h1>Iron Man Mark Armors</h1>
    <div>
        {% for armor in armors %}
        <div class="button-container">
        <button type="button" onclick="loadArmorInfo('{{ armor }}')">{{ armor }}</button>
        </div>
        {% endfor %}
    </div>
    <table id="armor-table" style="display: none;">
        <thead>
            <tr>
                <th>Armor Title</th>
                <th>Armor Image</th>
                <th>Armor Color</th>
                <th>Armor Composition</th>
                <th>Armor weapons</th>
                <th>Armor Capabilities</th>
                <th>Armor Special Features</th>
            </tr>
        </thead>
        <tbody>
            <tr id="armor-info-row">
                <td id="armor-name"></td>
                <td id="armor-image"></td>
                <td id="armor-color"></td>
                <td id="armor-composition"></td>
                <td id="armor-weapons"></td>
                <td id="armor-capabilities"></td>
                <td id="armor-special-features"></td>
            </tr>
        </tbody>
    </table>
    <script>
        function loadArmorInfo(armorName) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var armorInfo = JSON.parse(this.responseText);
                    // update table with armor info
                    document.getElementById("armor-name").innerHTML = armorInfo.Armor_title;
                    document.getElementById("armor-image").innerHTML = '<img src="' + armorInfo.Armor_image + '" alt="' + armorName + '"/>';
                    
                    document.getElementById("armor-color").innerHTML = armorInfo.Armor_color;
                    document.getElementById("armor-composition").innerHTML = armorInfo.Armor_composition;
                    document.getElementById("armor-weapons").innerHTML = armorInfo.Armor_weapons;
                    document.getElementById("armor-capabilities").innerHTML = armorInfo.Armor_capabilities;
                    document.getElementById("armor-special-features").innerHTML = armorInfo.Armor_special_features;
                    // display table
                    document.getElementById("armor-table").style.display = "table";
                }
            };
            xhttp.open("GET", "/armor/" + armorName, true);
            xhttp.send();
        }
    </script>
</body>
</html>